<div class="card shadow p-2 h-100 justify-content-between">
    <div class="d-flex flex-column align-items-center p-3">
        <figure>
            <img [src]="myUser.image" [alt]="myUser.first_name">
        </figure>
        <h6>{{myUser.first_name}} {{myUser.last_name}}</h6>
    </div>
    <div class="d-flex justify-content-around">
        <button class="btn btn-primary" [routerLink]="['/user', myUser._id]"><i
                class="fa-solid fa-magnifying-glass fs-4"></i>
        </button>
        <button class="btn btn-success" [routerLink]="['/updateuser', myUser._id]"><i
                class="fa-solid fa-arrows-rotate fs-4"></i></button>
        <button class="btn btn-danger" (click)="deleteUser(myUser._id)"><i
                class="fa-regular fa-trash-can fs-4"></i></button>
    </div>
</div>