<div class="container">
    <div class="row gx-5">
        <div class="col-12 col-md-4 col-xl-3 card text-center" *ngFor="let user of arrUsers">
            <img [src]="user.image" alt="Logo usuario">
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <ul class="d-flex flex-row justify-content-between align-items-center">
                <li class="p-2">
                    <div class="row">
                        <button class="btn">
                            <figure>
                                <img src="https://cdn-icons-png.flaticon.com/128/5008/5008371.png" alt="Ver detalle">
                                <figcaption>Ver detalle</figcaption>
                            </figure>
                        </button>
                    </div>
                </li>
                <li class="p-2">
                    <div class="row">
                        <button class="btn">
                            <figure>
                                <img src="https://previews.123rf.com/images/imagecatalogue/imagecatalogue1603/imagecatalogue160300826/53969474-actualizar-flechas-icono-del-vector-el-estilo-es-s%C3%ADmbolo-de-icono-plana-de-color-negro-fondo-blanco-.jpg"
                                    alt="Actualizar">
                                <figcaption>Actualizar</figcaption>
                            </figure>
                        </button>
                    </div>
                </li>
                <li class="p-2">
                    <div class="row">
                        <button class="btn">
                            <figure>
                                <img src="https://cdn-icons-png.flaticon.com/512/88/88666.png" alt="Eliminar">
                                <figcaption>Eliminar</figcaption>
                            </figure>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>