<div class="container row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card">
            <img src="https://thumbs.dreamstime.com/b/icono-masculino-de-avatar-con-la-barba-en-su-boca-123115272.jpg"
                class="card-img-top" alt="Foto usuario">
            <div class="card-body text-center">
                <h5 class="card-title">Nombre usuario completo</h5>
            </div>
            <ul class="d-flex flex-row align-items-center">
                <li class="p-2">
                    <button class="btn"><img
                            src="https://static.vecteezy.com/system/resources/previews/004/263/227/non_2x/magnifying-glass-silhouette-magnifying-glass-icon-or-clipart-vector.jpg"
                            alt="Ver detalle">Ver detalle</button>
                </li>
                <li class="p-2">

                    <button class="btn"><img
                            src="https://cdn.icon-icons.com/icons2/1380/PNG/512/emblemsynchronizing_93485.png"
                            alt="Actualizar">Actualizar</button>
                </li>
                <li class="p-2">

                    <button class="btn"><img src="https://cdn-icons-png.flaticon.com/512/3221/3221845.png"
                            alt="Borrar">Borrar</button>
                </li>
            </ul>
        </div>
    </div>
</div>