header.container {
    border-bottom: 2px solid lightgrey;
    margin: 20px auto;
}

.home {
    color: firebrick;
}

.home,
.new_user {
    font-weight: bold;
    font-size: 1.3rem;
}

header.container img {
    width: 20%;
}

ul.nav.d-flex {
    align-items: center;
}