<header class="px-3 py-2 text-bg-dark border-4 border-bottom border-success">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <i class="d-flex align-items-center me-lg-auto bg-dark text-white fa-brands fa-square-dribbble fs-1"></i>
      <ul class="nav col-12 col-lg-auto justify-content-center my-md-0">
        <li class="nav-item p-2">
          <button class="btn nav-link text-success" [routerLink]="['/home']">Home</button>
        </li>
        <li class="nav-item p-2">
          <button class="btn nav-link text-white" [routerLink]="['/newuser']">Nuevo Usuario</button>
        </li>
      </ul>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="px-3 py-2 text-bg-dark border-4 border-top border-success mt-3">
  <div class="d-flex flex-wrap align-items-center justify-content-center">
    <p>Actividad 6 &copy; Lorenzo López Rodríguez</p>
  </div>
</footer>