<section class="container">
    <div class="card p-3">
        <div class="d-flex justify-content-around align-items-center">
            <figure>
                <img [src]="currentUser.image" [alt]="currentUser.first_name">
            </figure>
            <ul class="border-3 border-start fs-4">
                <li>{{currentUser.first_name}}</li>
                <li>{{currentUser.last_name}}</li>
                <li>
                    <p class="fw-bold d-inline">Nombre de usuario:</p> {{currentUser.username}}
                </li>
                <li>
                    <p class="fw-bold d-inline">Email:</p> {{currentUser.email}}
                </li>
                <li>
                    <div class="d-flex justify-content-between mt-4">
                        <button class="btn btn-primary" [routerLink]="['/home']">Volver al listado</button>
                        <button class="btn btn-success"
                            [routerLink]="['/updateuser', currentUser._id]">Actualizar</button>
                        <button class="btn btn-danger" (click)="deleteUser(currentUser._id)">Borrar</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>